
<aside class="main-sidebar sidebar-dark-primary elevation-4">

	<a href="/" class="brand-link">
		<img src="/img/cyber-logo.png" alt="cyber security" class="brand-image img-circle elevation-3"
			style="opacity: .8">
		<span class="brand-text font-weight-light">Cyber Security</span>
	</a>

	<div class="sidebar">

		<div class="user-panel mt-3 pb-3 mb-3 d-flex">
			<div class="image">
				<img src="/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
			</div>
			<div class="info">
				<a href="/profile" class="d-block">
					<%= userdetials.name ? userdetials.name : "Super Admin" %>
				</a>
			</div>
		</div>

		

		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

				<li class="nav-item menu-open">
					<a href="/" class="nav-link active">
						<i class="nav-icon fas fa-tachometer-alt"></i>
						<p>
							Dashboard
							<!-- <i class="right fas fa-angle-left"></i> -->
						</p>
					</a>
				
				</li>
				

				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-chart-pie"></i>
						<p>
							Home
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						
						
						
						<li class="nav-item">
							<a href="/update-banner" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Banners</p>
							</a>
						</li>
                         
						<li class="nav-item">
							<a href="/get-second-section-list" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Second Section</p>
							</a>
						</li>
						<!-- <li class="nav-item">
							<a href="/partner-list" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Partner  List</p>
							</a>
						</li> -->
						<li class="nav-item">
							<a href="/security-service" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Security Status</p>
							</a>
						</li>
                        <li class="nav-item">
							<a href="/dimensions-info_tech-list" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>The Dimensions Of Info&Tech</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="/approach-list" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Our Approach</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="/our-advisory-board-list" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Our Advisory Board</p>
							</a>
						</li>
						<!-- <li class="nav-item">
							<a href="/most-complete-list" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Most Complete</p>
							</a>
						</li> -->
						
						<li class="nav-item">
							<a href="/typical-attacks-list" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Typical Attacks</p>
							</a>
						</li>
						<!-- <li class="nav-item">
							<a href="/case-studies-list" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Case Studies List</p>
							</a>
						</li> -->
						<li class="nav-item">
							<a href="/update-comman-banner" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Comman Banner</p>
							</a>
						</li>
						
						
						
						<!-- <li class="nav-item">
							<a href="/main-service-list" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Main Service  List</p>
							</a>
						</li> -->
						
						<li class="nav-item">
							<a href="/news-letters" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>News letter  List</p>
							</a>
						</li>
						
						
					</ul>
				</li>
				
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-chart-pie"></i>
						<p>
							About 
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
				        <li class="nav-item">
							<a href="/update-about-us" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>About Content</p>
							</a>
						</li>
						
						<!-- <li class="nav-item">
							<a href="/update-our-vision class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Our Vision  List</p>
							</a>
						</li> -->
						<!-- <li class="nav-item">
							<a href="/our-mission-list" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Our Mission  List</p>
							</a>
						</li> -->
						<li class="nav-item">
							<a href="/why-we-list" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Why We  List</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="/career-list" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Career List</p>
							</a>
						</li>
					</ul>
				</li>

				<!-- <li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-chart-pie"></i>
						<p>
							Partner 
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
				        <li class="nav-item">
							<a href="/partner-list" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Partner Icon List</p>
							</a>
						</li>
					</ul>
				</li> -->
<!--    
				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-chart-pie"></i>
						<p>
							Securtiy Service 
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
				        <li class="nav-item">
							<a href="/security-service" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Security Service  List</p>
							</a>
						</li>
					</ul>
				</li>
				 -->
				 <li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-chart-pie"></i>
						<p>
							Service
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
				        <li class="nav-item">
							<a href="/main-service-list" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Main Service List</p>
							</a>
						</li>
						
					</ul>
				</li> 

				<!-- <li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-chart-pie"></i>
						<p>
							Main Title And Description
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						
						<li class="nav-item">
							<a href="/main-service-main-title-list" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Main Service Main title</p>
							</a>
						</li>
				        <li class="nav-item">
							<a href="/security-service-main-title-list" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Security service Main title</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="/innovative-title-list" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Innovative Main title</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="/our-approach-title-list" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Our Approach Main title</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="/testimonial-main-title-list" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Testimonial Main title</p>
							</a>
						</li>
					</ul>
				</li>  -->
				
				<!-- <li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-chart-pie"></i>
						<p>
							Testimonial
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
				        <li class="nav-item">
							<a href="/testimonial-list" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Testimonial  List</p>
							</a>
						</li>
					</ul>
				</li> -->

				<!-- <li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-chart-pie"></i>
						<p>
							News letter
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
				        <li class="nav-item">
							<a href="/news-letters" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>News letter  List</p>
							</a>
						</li>
					</ul>
				</li> -->

				<!-- <li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-chart-pie"></i>
						<p>
							Blog
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
				        <li class="nav-item">
							<a href="/blogs" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Blog  List</p>
							</a>
						</li>
					</ul>
				</li> -->
				<li class="nav-item">
					<a href="/industry-details-list" class="nav-link">
						<i class="nav-icon fas fa-chart-pie"></i>
						<p>
							Industry
							<!-- <i class="right fas fa-angle-left"></i> -->
						</p>
					</a>
					<!-- <ul class="nav nav-treeview">
				        <li class="nav-item">
							<a href="/industry-details-list" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Industry Details</p>
							</a>
						</li>
					</ul> -->
				</li>
				
				<li class="nav-item">
					<a href="/contact-us-list" class="nav-link">
						<i class="nav-icon fas fa-chart-pie"></i>
						<p>
							Contact Us 
							<!-- <i class="right fas fa-angle-left"></i> -->
						</p>
					</a>
					<!-- <ul class="nav nav-treeview">
				        <li class="nav-item">
							<a href="" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Contact Us  List</p>
							</a>
						</li>
						
					</ul> -->
				</li>

				<li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-chart-pie"></i>
						<p>
							FAQ
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
				        <li class="nav-item">
							<a href="/faq-list" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>FAQ  List</p>
							</a>
						</li>

						<li class="nav-item">
							<a href="/faq-contacts" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>FAQ Conatct List</p>
							</a>
						</li>
					</ul>
				</li> 

				<li class="nav-item">
					<a href="/slug-list" class="nav-link">
						<i class="nav-icon fas fa-chart-pie"></i>
						<p>
							CMS
							<!-- <i class="right fas fa-angle-left"></i> -->
						</p>
					</a>
					<!-- <ul class="nav nav-treeview">
				        <li class="nav-item">
							<a href="/slug-list" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>CMS List</p>
							</a>
						</li>
					</ul> -->
				</li> 

				<!-- <li class="nav-item">
					<a href="#" class="nav-link">
						<i class="nav-icon fas fa-chart-pie"></i>
						<p>
							Why We 
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
				        <li class="nav-item">
							<a href="/why-we-list" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Why We  List</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="/why-we-count-list" class="nav-link">
								<i class="far fa-circle nav-icon"></i>
								<p>Why We Count List</p>
							</a>
						</li>
					</ul>
				</li> -->

			

				

				<li class="nav-item">
					<a href="/update-setting" class="nav-link">
						<i class="nav-icon fas fa-chart-pie"></i>
						<p>
							Setting
							<!-- <i class="right fas fa-angle-left"></i> -->
						</p>
					</a>
					
				</li> 

				<li class="nav-item">
					<a href="/profile" class="nav-link">
						<i class="nav-icon fas fa-chart-pie"></i>
						<p>
							Profile
							<!-- <i class="right fas fa-angle-left"></i> -->
						</p>
					</a>
					
				</li> 
			</ul>
		</nav>

	</div>

</aside>