<%- include('../../../partials/header'); %>
    <%- include('../../../partials/sidebar'); %>
        <div class="content-wrapper">

            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Subscription Plan</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Subscription Plan</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <a href="/subscription-plans" class="btn btn-primary">Back</a>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <%- include('../../../partials/error'); %>
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">

                            <div class="col-md-12">

                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Add Subscription Plan</h3>
                                    </div>

                                    <form id="subcriptionPlanForm" action="/insert-subscription-plan" method="POST"
                                        enctype="multipart/form-data">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="form-group col">
                                                    <label for="exampleInputEmail1">Plan Name</label>
                                                    <input type="text" name="plan_name" class="form-control"
                                                        id="exampleInputEmail1" placeholder="Enter Plan Name">
                                                </div>
                                                <div class="form-group col">
                                                    <label for="name">Plan Price</label>
                                                    <input type="text" name="plan_price" class="form-control"
                                                        id="plan_price" placeholder="Enter Plan Price">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col">
                                                    <label for="expiredAt">Expire Date</label>
                                                    <input type="datetime-local" step="1" name="expiredAt"
                                                        class="form-control" required id="expiredAt"
                                                        placeholder="Enter Expire Date">
                                                </div>
                                                <div class="form-group col">
                                                    <label for="name">Description</label>
                                                    <textarea name="description" class="form-control" id="description"
                                                        cols="30" rows="5"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </form>
                                </div>

                            </div>


                            <div class="col-md-6">
                            </div>

                        </div>

                    </div>
                </section>
        </div>
        <%- include('../../../partials/footer'); %>